
@{
    ViewBag.Title = "change success";
}


@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<center class="bg-success">პაროლი წარმატებით შეიცვალა <a href="/Account/Login">შესვლა</a>.</center>
