
@{
    ViewBag.Title = "Meilconfirmation";
}

<h2>Meilconfirmation</h2>

<center class="bg-success">კონფირმაციის ლინკი გამოგზავნილია მეილზე, რეგისტრაციის დასასრულებლად გადადით მეილზე გამოგზავნილ ლინკზე</center>

